/*
	主容器样式
*/
.BackGround {
	background : url(../images/mainBackground.jpg);
}

/*
	RightContainer样式
*/
.rightContainerIcon {
	width : 40px;
	height : 40px;
	display : block;
	margin : auto;
}

/*
	九宫格图标样式
*/
.categoryIcon {
	width : 100%;
	height : 100%;
	display : block;
	margin : auto;
}

/*
	客户端列表页面样式
*/
.appListIcon {
	width : 2.5em;
	height : 2.5em;
	float : left;
	margin-bottom : 0.5em;
}
.appListName {
	font-size : 1.2em;
	padding-top : 0.45em;
	padding-left : 1em;
	overflow : hidden;
}
.appListCheck {
	float : right;
	max-width : 1.5em;
	max-height : 1.5em;
	margin-right : 0.5em;
	margin-top : 0.5em;
}

/*
	子频道列表页面样式
*/
.categoryListIcon {
	width : 2.5em;
	height : 2.5em;
	float : left;
	margin-bottom : 0.5em;
}
.categoryListName {
	font-size : 1.2em;
	padding-top : 0.45em;
	padding-left : 1em;
	overflow : hidden;
}
.categoryListDisclosure {
	float : right;
	max-width : 1.5em;
	max-height : 1.5em;
	margin-right : 0.5em;
	margin-top : 0.5em;
}

/*
	信息列表样式
*/
.newsListIcon {
	float : left;
	width : 3.5em;
	height : 3.5em;
	margin-bottom : 0.5em;
}
.newsListTitle {
	text-align : left;
	font-size : 0.9em;
	line-height : 1.4em;
	height : 2.8em;
	padding-left : 0.9em;
	margin-bottom : 0.35em;
	overflow : hidden;
}
.newsListDatePubliser {
	text-align : left;
	font-size : 0.6em;
	color :  #808080;
	padding-left : 1.35em;
	overflow : hidden;
}

/*
	信息详细视图样式
*/
.newsDetailTitle {
	color : #000000;
   	text-align : center;
	padding-top : 0.5em;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.1em;
}
.newsDetailDataTime {
	color : #808080;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
   	text-align : center;
   	font-size : 0.6em;
}
.newsDetailImage {
	padding-top : 0.5em;
	max-width : 300px;
	max-height : 300px;
	display : block;
	margin : auto;
}
.newsDetailImageOverlay {
	max-width : 300px;
	max-height : 300px;
	display : block;
	margin : auto;
	position: relative;
	top : -50px;
}
.newsDetailContentSmaller {
    font-size : 0.8em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentSmall {
    font-size : 0.8em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentNormal {
	font-size : 0.9em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentBig {
    font-size : 1.2em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentBigger {
    font-size : 1.4em;
	width : 95%;
	display : block;
	margin : auto;
}

/*
	相册视图样式
*/
.albumCarousel {
	background : #262626;
}
.albumCarousel .x-carousel-indicator-dark span {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.8);
}
.albumCarousel .x-carousel-indicator-dark span.x-carousel-indicator-active {
	background-image: none;
	background-color: rgba(255, 125, 0, 1);
}
.albumImageDiv {
	width : 95%;
 	height : 40%;
	display : block;
	margin : auto;
}
.albumImage {
	max-width : 100%;
 	max-height : 100%;
	border : 1px solid #FFFFFF;
	display : block;
	margin : auto;
}
.albumSpacerImage {
	max-width : 100%;
 	max-height : 100%;
}