/*
	主容器样式
*/
.mainContainer {
	background : url(../images/mainBackground.png);
}

/*
	九宫格图标样式
*/
.categoryName {
	float : bottom;
   	text-align : center;
	font-size : 0.9em;
	padding-top : 0.5em;
}
.categoryIcon {
	max-width : 80px;
	display : block;
	margin : auto;
}

/*
	客户端列表页面样式
*/
.appList .x-list-item {
	height : 4.4em;
}
.appList .x-list-item .x-list-item-label {
	height : 4.4em;
}
.appList .x-list-disclosure {
	padding-bottom : 2.4em;
	margin-right : 0.5em;
}
.appListIcon {
	width : 3em;
	height : 3em;
	float : left;
}
.appListName {
	font-size : 1.2em;
	padding-top : 0.7em;
	padding-left : 1em;
	overflow : hidden;
}

/*
	频道列表页面样式
*/
.categoryList .x-list-item {
	height : 4.4em;
}
.categoryList .x-list-item .x-list-item-label {
	height : 4.4em;
}
.categoryList .x-list-disclosure {
	padding-bottom : 2.4em;
	margin-right : 0.5em;
}
.categoryListIcon {
	width : 3em;
	height : 3em;
	float : left;
}
.categoryListCheck {
	margin-top : 0.8em;
	margin-right : 0.1em;
	width : 1.5em;
	height : 1.5em;
	float : right;
}
.categoryListName {
	font-size : 1.2em;
	padding-top : 0.7em;
	padding-left : 1em;
	overflow : hidden;
}

/*
	信息列表样式
*/
.infoList .x-list-item {
	height : 5.1em;
}
.infoList .x-list-item .x-list-item-label {
	height : 5.1em;
}
.infoListImage {
	width : 4em;
	height : 4em;
	float : left;
}
.infoListTitle {
	text-align : center;
	font-size : 0.9em;
	line-height : 1.2em;
	height : 2.4em;
	padding-left : 0.9em;
	overflow : hidden;
}
.infoListData {
	text-align : center;
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}
.infoListPubliser {
	text-align : center;
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	信息详细视图样式
*/
.infoDetailTitle {	
   	text-align : center;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.2em;
}
.infoDetailDataTime {
	margin-top : 0.25em;
	margin-bottom : 0.25em;
   	text-align : center;
   	font-size : 0.9em;
}
.infoDetailContentSmaller {
    font-size : 0.8em;
	margin-top : 0.5em;
}
.infoDetailContentSmall {
    font-size : 1.0em;
	margin-top : 0.5em;
}
.infoDetailContentNormal {
    font-size : 1.2em;
	margin-top : 0.5em;
}
.infoDetailContentBig {
    font-size : 1.4em;
	margin-top : 0.5em;
}
.infoDetailContentBigger {
    font-size : 1.6em;
	margin-top : 0.5em;
}

/*
	信息发布页面样式
*/
.publishImageContainer {
	background : #FFFFFF;
}
.publishImage {
	max-width : 10em;
	max-height : 4.5em;
	display : block;
	margin : auto;
}
.publishImageStatus {
	text-align : center;
    font-size : 0.8em;
    color : #808080;
}
.publishTextField input::-webkit-input-placeholder {  
	color : #2e4bc5;  
}  

/*
	专家列表样式
*/
.expertList .x-list-item {
	height : 8em;
}
.expertList .x-list-item .x-list-item-label {
	height : 8em;
}
.expertListImage {
	width : 4.8em;
	height : 6.7em;
	float : left;
}
.expertListTitle {
	font-size : 0.8em;
	padding-left : 0.5em;
	overflow : hidden;
}
.expertListInfo {
	font-size : 0.8em;
	padding-top : 0.2em;
	padding-left : 0.5em;
	overflow : hidden;
}
.expertListIDescription {
	font-size : 0.8em;
	line-height : 1.1em;
	height : 3.4em;
	padding-top : 0.2em;
	padding-left : 0.5em;
	overflow : hidden;
}