/*
	主容器样式
*/
.mainContainer {
	background : url(../images/mainBackground.png);
}

/*
	主页图标样式
*/
.homeViewName {
	color : white;
	font-size : 0.8em;
	margin-left : 0.5em;
	margin-top : 0em;
}
.homeViewIcon {
	max-width : 1.2em;
	max-height : 1.2em;
	margin-bottom : 0em;
	float : left;
}

/*
	九宫格图标样式
*/
.categoryName {
	float : bottom;
   	text-align : center;
	font-size : 0.9em;
	padding-top : 0.5em;
}
.categoryIcon {
	width : 80px;
	height : 80px;
	display : block;
	margin : auto;
}

/*
	客户端列表页面样式
*/
.appListIcon {
	width : 2.5em;
	height : 2.5em;
	float : left;
	margin-bottom : 0.5em;
}
.appListName {
	font-size : 1.2em;
	padding-top : 0.5em;
	padding-left : 1em;
	overflow : hidden;
}

/*
	频道列表页面样式
*/
.categoryList .x-list-item {
	height : 4.4em;
}
.categoryList .x-list-item .x-list-item-label {
	height : 4.4em;
}
.categoryList .x-list-disclosure {
	padding-bottom : 2.4em;
	margin-right : 0.5em;
}
.categoryListIcon {
	width : 3em;
	height : 3em;
	float : left;
}
.categoryListCheck {
	margin-top : 0.8em;
	margin-right : 0.1em;
	width : 1.5em;
	height : 1.5em;
	float : right;
}
.categoryListName {
	font-size : 1.2em;
	padding-top : 0.7em;
	padding-left : 1em;
	overflow : hidden;
}

/*
	信息列表样式
*/
.newsList .x-list-item {
	height : 5.1em;
}
.newsList .x-list-item .x-list-item-label {
	height : 5.1em;
}
.newsListIcon {
	width : 3.7em;
	height : 3.7em;
	float : left;
}
.newsListTitle {
	font-size : 0.9em;
	line-height : 1.2em;
	height : 2.4em;
	padding-left : 0.9em;
	overflow : hidden;
}
.newsListDate {
	font-size : 0.6em;
	margin-top : 0.5em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}
.newsListPubliser {
	font-size : 0.6em;
	margin-top : 0.3em;
	color :  #808080;
	padding-left : 1.2em;
	overflow : hidden;
}

/*
	信息详细视图样式
*/
.newsDetailTitle {
	color : #000000;
   	text-align : center;
	padding-top : 0.5em;
	padding-left : 1.5em;
	padding-right : 1.5em;
   	font-size : 1.1em;
}
.newsDetailDataTime {
	color : #808080;
	margin-top : 0.5em;
	margin-bottom : 0.5em;
   	text-align : center;
   	font-size : 0.6em;
}
.newsDetailImage {
	padding-top : 0.5em;
	max-width : 300px;
	max-height : 300px;
	display : block;
	margin : auto;
}
.newsDetailImageOverlay {
	max-width : 300px;
	max-height : 300px;
	display : block;
	margin : auto;
	position: relative;
	top : -50px;
}
.newsDetailContentSmaller {
    font-size : 0.8em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentSmall {
    font-size : 0.8em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentNormal {
	font-size : 0.9em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentBig {
    font-size : 1.2em;
	width : 95%;
	display : block;
	margin : auto;
}
.newsDetailContentBigger {
    font-size : 1.4em;
	width : 95%;
	display : block;
	margin : auto;
}

/*
	相册视图样式
*/
.albumContainer {
	background : #262626;
}
.albumImage {
	margin-top :130px;
	max-width : 360px;
	max-height : 225px;
}